<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh-cn" th:replace="layout :: header ('多贝云 - 登录')">
</head>
<body>
	<div th:replace="layout :: menu_main"></div>

	<div class="container">
		<form method="post" class="col-md-4">
			<h3>登录</h3>
			<p style="color: red" th:if="${type eq 1}">注册成功, 请使用账号进行登录</p>
			<div class="form-group">
				<label for="exampleInputEmail1">手机号</label>
				<input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="手机号"/>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">密码</label>
				<input name="passwd" type="password" class="form-control" id="exampleInputPassword1" placeholder="密码"/>
			</div>
			<button type="submit" class="btn btn-default">登录</button>
			<br/>
			<div style="text-align: right; color: red">订阅信息每月599元</div>
		</form>
	</div>

	<div th:replace="layout :: footer"></div>
</body>
</html>